<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Favela Connect</title>
</head>

<body>
  <h1>Bem-vindo ao Favela Connect</h1>
</body>

</html>