<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/login.css">
  <title>Inscrever-se | Favela Connect</title>
</head>

<body>
  <div class="login">
    <img src="/img/favela-login-bg.jpg" alt="login image" class="login__img">

    <form action="/signup" method="post" class="login__form">
      <h1 class="login__title">Cadastre sua conta</h1>

      <div class="login__content">
        <div class="login__box">
          <i class="ri-user-3-line login__icon"></i>

          <div class="login__box-input">
            <input type="email" name="email" class="login__input" id="login-email">
            <label for="login-email" class="login__label">Email</label>
          </div>
        </div>

        <div class="login__box">
          <i class="ri-lock-2-line login__icon"></i>

          <div class="login__box-input">
            <input type="password" name="password" class="login__input" id="login-pass">
            <label for="login-pass" class="login__label">Senha</label>
            <i class="ri-eye-off-line login__eye" id="login-eye"></i>
          </div>
        </div>
      </div>

      <button type="submit" class="login__button">Cadastrar</button>

      <p class="login__register">
        Já possui uma conta? <a href="/login">Faça login</a>
      </p>
    </form>
  </div>

  <!--=============== MAIN JS ===============-->
  <script src="/main.js"></script>
</body>

</html>