@media screen and (max-width: 1270px) {
  .hero-section .popular-tags {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  header .navbar {
    height: 3.5rem;
    padding: .5rem 2rem 0;
  }

  header.show-mobile-menu::before {
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(5px);
  }

  .navbar .menu-links {
    height: 100vh;
    max-width: 300px;
    width: 100%;
    background: var(--cor-branca);
    position: fixed;
    left: -300px;
    top: 0;
    display: block;
    padding: 75px 40px 0;
    transition: left 0.2s ease;
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar .menu-links li {
    margin-bottom: 30px;
  }

  .navbar .menu-links li a {
    color: #000;
    font-size: 1.1rem;
  }

  .navbar .menu-links .join-btn a {
    padding: 0;
  }

  .navbar .menu-links .join-btn a:hover {
    color: var(--azul-principal);
    background: none;
  }

  .navbar :is(#close-menu-btn, #hamburger-btn) {
    display: block;
    font-size: 2.5rem
  }

  .quemSomos-text p {
    text-align: justify;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hero-image {
    order: -1;
    width: 27rem;
  }

  .hero-section {
    margin: 2rem 0 4rem;
  }

  .logo {
    padding-top: 2rem;
  }

  .hero-section .search-form {
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    width: 80%;
  }

  .hero-section .hero-content h1 {
    margin-top: 2rem;
  }

  #quemSomos {
    flex-direction: column;
    padding: 0 2rem;
    gap: 2rem;
  }

  .quemSomos-text-container {
    width: 80%;
    text-align: center;
  }

  .quemSomos-text hr {
    max-width: 400px;
    margin: 1.3rem auto;
  }

  .quemSomos-img img {
    width: 30rem;
  }
}

@media screen and (max-width: 768px) {
  .hero-section .hero-content h1 {
    font-size: 2.5rem;
    line-height: 45px;
    max-width: 500px;
  }
}

@media screen and (min-width: 500px) and (max-width: 730px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem 0 .5rem;
  }

  .logoMais1code-footer {
    width: 130px;
    margin-bottom: -2rem;
  }

  .logoFavela-footer {
    width: 150px;
  }

  .footer-box h3,
  .footer-box-social h3 {
    font-size: 1rem;
  }

  .footer-box a {
    font-size: .8rem;
  }

  .footer-box-social box-icon {
    width: 28px;
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  .quemSomos-img img {
    width: 25rem;
  }

  .quemSomos-text-container {
    width: 90%;
  }
}

@media screen and (max-width: 499px) {
  .footer {
    padding: 2rem 2rem;
  }

  .logoFavela-footer {
    margin-bottom: -2rem;
  }

  .footer-box-social {
    margin-top: 1rem;
  }

  .social-icons {
    flex-direction: row;
    gap: .7rem;
  }
}

@media screen and (max-width: 425px) {

  .hero-section .hero-content h1 {
    font-size: 2.2rem;
    line-height: 40px;
    max-width: 500px;
  }

  .hero-image {
    width: 25rem;
  }

  .quemSomos-img img {
    width: 20rem;
  }
}

@media screen and (max-width: 375px) {
  .hero-section .hero-content h1 {
    font-size: 2rem;
    line-height: 38px;
    max-width: 500px;
  }

  .hero-image {
    width: 20rem;
  }

  .quemSomos-img img {
    width: 17rem;
  }

  .quemSomos-text-container {
    width: 100%;
  }
}

/* KEYFRAMES */

@keyframes myAnim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}